.action-container{
    margin-bottom: 5px;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.action > * {
    display: inline-block;
    margin-right: 5px;
}

.new-container {
    padding: 10px;
}


.dark-style {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff; 
}

body {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}